
/*
    Carousel Styles
*/
.card {
    border-radius: 0;

    @media #{$mobile} {
        min-height: 500px;

        .card-img {
            border-radius: default;
            min-height: 530px;
            object-fit: cover;
          }

    }
}

.carousel {
    min-width: 100%;
}

@media #{$mobile} {
    // .carousel {
    //      margin-top: 80px;
    // }

    .display-4 {
        font-size: 1.5rem;
    }
       
}

    


.card-img-overlay {
    margin: auto;
    width: 60%;
    font-family: $roboto;
    display: table;
    @media #{$laptop} {
        * {
            padding-bottom: 10px;
        }
    }
 
}

.card-title {
    text-transform: uppercase;
}