/*
    Payment Section Styles
*/

#payments {
    font-family: $roboto;
    background: linear-gradient(to right, 
    #4d505244, 
    #383838bb 35%, 
    #000000d7 50%), 
    url(./media/nightlife.jpeg)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
}