.btn.btn-primary.btn-lg {
    padding: 20px 60px;
    border-radius: 0px;
    font-family: $roboto;
    font-weight: 700;
    background: linear-gradient(to right, $blue-highlight -10%, $green-link 110%);
    border: none;

    @media #{$mobile} {
        padding: 10px 20px;
    }

    &:hover {
        background: linear-gradient(45deg, $blue-highlight, $green-link);
    }
}

.cta-gradient {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 3px;
    margin-top: -5px;
    margin-right: 15px;
    background: linear-gradient(to right, $blue-highlight -10%, $green-link);
}

.col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

h1 {
    text-transform: uppercase;
}